*{
    padding: 0;
    margin: 0;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: pink;
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
}

ul{
    display: flex;
}

ul li{
    list-style: none;
}

ul li a{
    text-decoration: none;
    font-size: 19px;
    margin-inline: 22px;
    color: black;
}
.logo{
    font-size: 22px;
}
.searchbar{
    display: flex;
}

.searchbar input{
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    font-size: 18px;
    background-color: transparent;
}

.searchbar i{
    margin-left: -22px;
}

.cart i{
    font-size: 25px;
}

.cart p{
    margin-left: 11px;
    font-size: 22px;
}


.main{
    display: block;
    justify-content: center;
    margin-top: 133px;
}

.maintext{
    display: block;
    margin-top: 44px;
    margin-left: 30px;
}

.maintext h1{
    font-size: 90px;
}

.maintext p{
    margin-top: 22px;
    font-size: 30px;
}

.maintext button{
    position: absolute;
    margin-top: 20px;
    width: 140px;
    height: 40px;
    background-color: black;
    color: white;
    border: none;
    font-size: 20px;
}

.maintext img{
    width: 600px;
    height: 650px;
    margin-top: -221px;
    margin-left: 657px;
}

#shop{
 width: 100%;
 height: 1000px;
 margin-top: -50px;

}

.shops{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: yellow;
}

.shops img{
    width: 300px;
    height: 400px;

}
 
.card{
    margin: 40px;
    margin-inline: 60px;
    margin-top: 20px;
}

.head{
    text-align: center;
    padding: 35px;
}

.card button{
    position: absolute;
    margin-top: 366px;
    margin-left: -300px;
    width: 120px;
    height: 35px;
    background-color: rgb(215, 22, 54);
    color: white;
    border: none;
    font-size: 18px;
}

#gallerys{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 20px;
    margin-top: 100px;
    
}

.gallery{
    background-color: rgb(154, 96, 55);
}

.gallery img{
    width: 380px;
    height: 413px;
    margin-inline: 50px;
    margin-top: 22px;
}

.connect{
    width: 400px;
    padding: 22px;
    border-radius: 5px;
    box-shadow: 1px 3px 3px 3px gray;
    text-align: center;
   margin: auto;
}

.connect input{
    width: 90%;
    height: 12px;
    padding: 12px;
    border: 1px solid black;
    font-size: 18px;
    outline: none;
    margin-top: 22px;
}

.connect button{
    width: 140px;
    height: 40px;
    background-color: brown;
    color: white;
    font-size: 22px;
    border: none;
    margin-top: 22px;
}

.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 66px;
    margin-top: 66px;
    background-color: black;
    color: white;
}

.text p{
margin-top: 12px;
}

